html {
  height: 100%;
  box-sizing: border-box;
  
}
*, *:before, *:after {
box-sizing: inherit;
}
body {
  font-family: arial,helvetica, sans-serif;
  height: 100%;
  margin: 0;
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 );
  margin-bottom: 10rem;
}


header {
text-align: center;
padding: 10px 0;
max-width: 60%;
margin: 0 auto;
}

div.contenedor {
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
}
div.hero img {
  width: 100%;
}
h2 {
text-align: center;
color: white;
text-transform: uppercase;
}

/*Adaptaciones para dispositivos móviles */ 
@media screen and (max-width: 992px) {
  header {
    max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
  header {
    max-width: 60%;
    }
  
}

.img-prod{
  max-width:50%;
  height: 30em;
   
}